body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

/* .time-block{
  text-align: center;
  border-radius: 15px;
} */

#clock {
  text-align: center;
  border-radius: 15px;
  /* Added */
  background-color: black;
  color: white;
  height: 50px;
  padding: 15px;
  box-shadow: 0 0 7px #222;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
  }

  .first-column {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-collapse: separate;
    background-color: black ;
    color: white;
  }

  .second-column0, .second-column1, .second-column2, .second-column3, .second-column4, .second-column5, .second-column6, .second-column7, .second-column8, .second-column9, .second-column10, .second-column11, .second-column12, .second-column13 {
    border-radius: 10px;
  }

  textarea {
    border-left: none;
    width: 100%;
  }

  .third-column0, .third-column1, .third-column2, .third-column3, .third-column4, .third-column5, .third-column6, .third-column7, .third-column8, .third-column9, .third-column10, .third-column11, .third-column12, .third-column13 {
    width: 70px;
    /* height: 50px; */
    border-radius: 10px;
    border-collapse: separate;
    background-color: #06AED5;   
    color: white;
    text-align: center;    
  }
 
  .hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
